include ../mixins/page.pug
include ../mixins/blog-common.pug

+page("Blog", post.title).prefer-name(back="/blog/")
    #blog
        .blog-post: .blog-post-wrapper
            a.post-home(href="/blog/") Home ►
            h3.post-title= post.title
            .post-body!= post.body
            .post-footer
                a.post-home(href="/blog/") Home ►
                +blog-post-tags(post)
