@charset "UTF-8"

@require "../../mixins/common.styl"
@require "../../mixins/cc-license.styl"

#body
    label
        display: block
        font-weight: 700

    li.divider
        visibility: hidden

    .cc-license img
        padding-right: 0.5em
        margin-bottom: 0.25em

    .cc-license small
        font-size: 80%

    .license
        margin-bottom: 0.5em

    .intro
        border-bottom: 2px solid $color-border
        margin-bottom: 1em

        :first-child
            margin-top: 0

        img
            display: inline
            height: 1em
            width: 1em
