include ../../mixins/page.pug
include ../../mixins/cc-license.pug
include ../../mixins/drive-link.pug

+page("Music")
    .intro
        p.
            I don't have nearly the time to devote to creating music that I used
            to, thanks to college and then work. But when I did, my compositions
            varied anywhere from classically inspired to electronic to more
            contemporary. All these pieces below were created from late middle
            school to very early college, which is about when I stopped. The
            songs started out a bit lighter, but got more dramatic and darker as
            I matured both as a person and as a composer. I still occasionally
            enjoy improvising on the keyboard, but even that time is becoming
            limited. But just as a heads up, these pieces are probably not the
            best in the world, so do keep that in mind - I created most of them
            in middle and high school, after all. I also don't have recordings
            of any of my sheet music, just computer-generated audio for some of
            them. (I was always skittish about being recorded while playing
            keyboard, but some of them are broader than even that.)

        p.
            In some of the pieces, I detailed my inspiration for writing them,
            for your reading pleasure and to explain why some of them might have
            certain moods.

        p.
            Oh, and one last thing: some music programs like to associate
            artwork with some of my songs - that's not my fault, it's a bug in
            your music player. I didn't assign artwork to any of them, so feel
            free to just ignore them.

    ul
        li: a(href="/music/songs/funeral-of-stress.html") Funeral of Stress

        //- Little nit
        li
            +drive-link("0B02h60r9WvJrM0xiYnIzX0NHOFU")
                | Under Pressure
            | #{""} (electronic, download-only)

        li.divider

        li: a(href="/music/songs/a-day-at-the-theme-park.html") A Day at the Theme Park
        li: a(href="/music/songs/a-normal-day.html") A Normal Day
        li: a(href="/music/songs/a-tribute-to-hymns.html") A Tribute to Hymns
        li: a(href="/music/songs/aurora.html") Aurora
        li: a(href="/music/songs/hunger-games-symphony.html") Hunger Games Symphony
        li: a(href="/music/songs/journey.html") Journey
        li: a(href="/music/songs/rebellion.html") Rebellion
        li: a(href="/music/songs/servants-lament.html") Servant's Lament
        li: a(href="/music/songs/sweet-dreams.html") Sweet Dreams
        li: a(href="/music/songs/the-lost.html") The Lost
        li: a(href="/music/songs/the-time-is-coming.html") The Time is Coming
        li: a(href="/music/songs/untitled-piece-for-vibes.html") Untitled Piece for Vibes
        li: a(href="/music/songs/wants-of-life.html") Wants of Life
        li: a(href="/music/songs/water.html") Water
        li: a(href="/music/songs/wizard-battle.html") Wizard Battle
