include ../../mixins/song.pug

+song("A Normal Day")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrMUc3Qjh4ajJlXzA&export=download"
    audio!="https://drive.google.com/uc?id=0B02h60r9WvJrbUpKaG9KaUo1S2s&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrYmZVRG0yZHdWemc"
)
