include ../../mixins/song.pug

+song("Wants of Life")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrUTFyRmZXaEtxNHc&export=download"
    audio!="https://drive.google.com/uc?id=0B02h60r9WvJrUnZPSFY1eUFfTUk&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrTFFaYlB1c0ZzZ2M"
)
