include ../../mixins/song.pug

+song("Wizard Battle")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrZHBpUEJyNlpIdFk&export=download"
    audio!="https://drive.google.com/uc?id=0B02h60r9WvJrekdYcTZWUF85bDA&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrTXlkR2JBei0xTjA"
)
