include ../mixins/page.pug

+page("Contact", "Thank you").prefer-name
    p.
        Thank you for contacting me! I should receive this shortly, and once I
        receive it, I'll make sure you get a response as soon as possible. If
        for some reason that doesn't happen, feel free to send me an email
        directly at #[a(href="mailto:contact@isiahmeadows.com") contact@isiahmeadows.com].
