include ./song.mixin.pug

+song("A Day at the Theme Park")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrcUk4U1pxaHF6aWs&export=download"
    audio!="https://drive.google.com/uc?id=0B02h60r9WvJrNTdOQmI3UEJBSnM&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrbWNtbWlIVVkyQlk"
)
    p.
        This was one of the first pieces I ever made. I created this back in
        middle school, although I have personally never played either part in
        its entirety. When I first wrote this duet, both parts of it were just
        barely within my technical ability.

    p.
        My inspiration was from my memories from going to
        #[a(href="https://www.cedarpoint.com/") Cedar Point] as a young child,
        when I was about 7-9 years old. I missed going there then, and I still
        wish I could get a chance to go now, just to relive some of the best
        parts of my childhood.
