include ./song.mixin.jade

+song("A Tribute to Hymns")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrVHN4UHNtaGtvVVk&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrSWZqTkpqMEVIN1E"
)
