include ./song.mixin.pug

+song("Aurora")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrcXdEM0toOHc0N28&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrVUlkNTlxUmNSdlU"
)
