include ./song.mixin.jade

+song("Funeral of Stress")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrR1o3Q3RkOFVILTQ&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrdm5QUUF5Mi0wMVE"
).
    I wrote this piece during my senior year of high school, in a time where I
    was having trouble coping with the stress. I had myself taken off my
    medication, but I increasingly had issues coping with everything going
    on around me, effectively regressing to how I was before I was put on
    it. This piece came from how I felt in that stage of my life.
