include ./song.mixin.jade

+song("Hunger Games Symphony")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrN3ZSRGU5V00wVDQ&export=download"
    audio!="https://drive.google.com/uc?id=0B02h60r9WvJrWUN3bHM4UjBTbjQ&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrWmdDRXRkcWRPOTQ"
    license!="by-nc-3.0"
).
    This is a 3-part instrumental symphony, inspired by the Hunger Games book
    series. This was actually written well before the movies came out, as part
    of a creative class assignment. (There were other options as well, but I
    couldn't resist #[em writing music] for a school assignment.)
