include ./song.mixin.jade

+song("Journey")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrN2dXRE9jOU9BWG8&export=download"
    audio!="https://drive.google.com/uc?id=0B02h60r9WvJrcmREV0dGYmlCdVE&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJraGpXb09qb0wyVWc"
)
