include ./song.mixin.pug

+song("Rebellion")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJra20wLVh6QjhINTA&export=download"
    audio!="https://drive.google.com/uc?id=0B02h60r9WvJrTnZEX3QtNzIydHM&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrS292QnlqTFpUWUU"
)
