include ./song.mixin.jade

+song("Servant's Lament")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrZ1RrM2lSbEpGTGc&export=download"
    audio!="https://drive.google.com/uc?id=0B02h60r9WvJrN2JCMTRCdldFcjA&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrYmFUTmhiVDlZT3c"
    license!="by-nc-3.0"
)
