@charset "UTF-8";

/*
 * This isn't named .mixin.* because it is actually the stylesheet used for most
 * of this directory (and that's blacklisted in the build system).
 */

@import "../page.mixin.css";
@import "../cc-licenses.mixin.css";

#body {
    text-align: center;
}

#body .wrapper {
    margin: 0 auto;
    width: 75%;
    max-width: 700px;
}

#body .description, #body .link, #body .cc-license, #body h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

#body h3 {
    color: #44e;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

#body img[alt=preview] {
    width: 100%;
}
