@charset "UTF-8"

@import "../cc-licenses.mixin.styl"
@require "../common.mixin.styl"

#body
    text-align center

    .wrapper
        margin 0 auto
        width 75%
        max-width 700px

    .description, .link, .cc-license, h3
        vert margin 1em

    h3
        color header-color
        font-weight 500
        font-size 1.5em
        margin-bottom 0.5em
        padding-bottom 0.5em
        rule bottom
        text-align center

    img[alt=preview]
        width 100%
        border 2px solid #aaa
        margin 1em 0
