include ./song.mixin.jade

+song("Sweet Dreams")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrUjJMdnQyTDBzUHc&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrUXEwSWwxM2thdlU"
)
