include ./song.mixin.jade

+song("The Time Is Coming")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrSGxNYVVqeGp4ZzQ&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrcjBId3Q1YldvV00"
    license!="by-nc-3.0"
)
