include ./song.mixin.jade

+song("The Lost")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrck5DY2NRLVlQNGM&export=download"
    audio!="https://drive.google.com/uc?id=0B02h60r9WvJrNTVKdV9FdVE5Q2s&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrTUtPcUFVa21ZUU0"
)
