include ./song.mixin.jade

+song("Untitled Piece for Vibes")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrbDNaMWtJYjZDNFE&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrTjZRRFRaNGxXbDA"
)
