include ./song.mixin.jade

+song("Water")(
    download!="https://drive.google.com/uc?id=0B02h60r9WvJrZklOWkJaQ3ptRFE&export=download"
    audio!="https://drive.google.com/uc?id=0B02h60r9WvJrdzV6THJScFNSbGM&export=download"
    preview!="https://drive.google.com/uc?id=0B02h60r9WvJrb09KT3k0SGRpZ0U"
    license!="by-nc-3.0"
)
