//- cc-by-4.single: use singular context
//- cc-by-4: use plural context

mixin cc-by-4
    - var works = /\bsingle\b/.test(attributes.class) ? "This work is" : "These works are"

    .cc-license
        a(href="http://creativecommons.org/licenses/by/4.0/" rel="license")
            img(
                alt="Creative Commons License"
                src=("https://i.creativecommons.org/l/by/4.0/88x31.png")
            )
        //- Pug needs the trailing space here to separate the line from the
        //- element
        small
            | !{works} licensed under a !{""}
            a(href="http://creativecommons.org/licenses/by/4.0/" rel="license").
                Creative Commons Attribution 4.0 International License
            | .
