include ./page.mixin.jade

link(rel="stylesheet" href="blog.css")
link(rel="alternate" type="application/atom+xml" href="blog.atom.xml" title="Atom feed")
link(rel="alternate" type="application/rss+xml" href="blog.rss.xml" title="RSS feed")

script(src="https://cdn.jsdelivr.net/highlight.js/9.1.0/highlight.min.js")

//- Yep, this is a Mithril app.
script(src=(
    "https://cdnjs.cloudflare.com/ajax/libs/mithril/0.2.3/mithril" +
        (minified ? ".min" : "") + ".js"
))

//- And, best to pull in Marked this way.
script(src=(
    "https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked" +
        (minified ? ".min" : "") + ".js"
))

script(src=resolve("blog.js"))

+page("Blog")
    #blog You need to be able to run JavaScript for this to work.
