@charset "UTF-8"

@require "./common.mixin.styl"

.cc-license
    margin 0 auto
    text-align center

    hr&
        margin 1em auto

    img
        border-width 0

    small
        display block
