@charset "UTF-8"

@require "./common.mixin.styl"

.cc-license
    +desktop()
        margin 0 auto
        text-align center

    hr&
        +desktop()
            margin 1em auto

    img
        +desktop()
            border-width 0

    small
        +desktop()
            display block
