/**
 * The global constants.
 */

desktop()
    @media screen and (min-width: 1000px)
        {block}

tablet()
    @media screen and (min-width: 500px) and (max-width: 1000px)
        {block}

phone()
    @media screen and (max-width: 500px)
        {block}

nonphone()
    @media screen and (min-width: 500px)
        {block}

$color-main = #942a39
$color-body-background = #faf4ec
$color-text = #2a2329

$color-header = darken($color-main, 30%)
$color-header-text = #efefea

$color-button = $color-header
$color-button-border = darken($color-main, 30%)

$color-link = mix(#ffc, $color-main, 5%)
$color-link-visited = lighten($color-link, 30%)

$color-border = #666

$nav-colors = #4b6234 #385083 #4e3975 #8b5e48 #755061

$--hidden
    /* Intentionally no !important, since this is style-internal */
    display: none
    visibility: hidden

/**
 * The global mixins.
 */

--background-notify($color, $level)
    background-color: $color
    &:hover
        --background-notify-inner: $color $level

--background-notify-inner($color, $level)
    background-color: mix(#ccc, $color, $level)

--width-scale($percent, $min, $max)
    min-width: $min
    width: $percent
    max-width: $max

// For smaller screens. This is how I can support screens as small as 240 pixels
// across, provided they support HTML5 and CSS3 (and run JS if they want to read
// the blog).
$--break-word
    word-break: break-word
    word-wrap: break-word

// Prevent inputs from growing the screen size.
$--input-fix
    width: 100%
    box-sizing: border-box
