/**
 * The global constants.
 */

link-color = #800
link-visited = #a66
border-color = #666
page-border-color = #888
header-color = #b22
input-border-color = #aaa

/**
 * The global mixins.
 */

clearfix()
    overflow auto

side(prop, args...)
    {prop}-left args
    {prop}-right args

vert(prop, args...)
    {prop}-top args
    {prop}-bottom args

width-scale(percent, min, max)
    min-width min
    width percent
    max-width max

border-round(width, type, color, radius)
    border width type color
    border-radius radius

common--rule-apply(location, clear)
    value = clear ? none : (2px solid border-color)
    border-{location} value

rule(location, size = ignore)
    if size != ignore
        // See https://github.com/stylus/stylus/issues/980
        side margin (- size)
        side padding size
    if location == both
        border-top 2px solid border-color
        border-bottom 2px solid border-color
    else
        border-{location} 2px solid border-color

// Because some rules need the width different.
rule-reset(top, bottom)
    for prop in margin padding
        {prop}-top top
        {prop}-bottom bottom

desktop()
    @media all, screen and (min-device-width 900px)
        {block}

tablet()
    if false
        @media screen and (min-device-width 450px) and (max-device-width 900px)
            {block}

phone()
    if false
        @media screen and (max-device-width 450px)
            {block}

input-like()
    padding 0.5em
    border-round 2px solid border-color 0.8em

input-base()
    margin 0.25em
    margin-top 0
    input-like()
