@charset "UTF-8"

@require "./common.mixin.styl"

#email--base
    div
        display block

    p
        margin-bottom 0

    .text
        margin-bottom 1em

    .wrong
        color red

    .input
        display inline-block
        padding 0.5em
        border 2px solid border-color

    .submit
        margin 0.25em
        padding 0.5em 0.8em
        border 2px solid button-border-color
        color header-text
        height auto
        background-color button-color
        text-align center

+phone()
    #email--base
        div
            margin 0 auto
            width 80%

        .input
            margin-bottom 0.75em
            input-fix()

+nonphone()
    #email--base
        .input
            margin 0.25em
            margin-top 0

        .submit
            margin-left 0.5em
