include ./page.mixin.pug

link(rel="stylesheet" href="contact.css")
script(src=(
    "https://cdnjs.cloudflare.com/ajax/libs/mithril/0.2.3/mithril" +
        (minified ? ".min" : "") + ".js"
))

+page("Contact")
    p.
        You can always email me directly. My email is below (after you put in
        the code). Otherwise, I have a contact form here powered by
        #[+a("https://formspree.io").new Formspree] for convenience or if, for
        any reason, you would rather remain as anonymous as possible when
        contacting me (Yes, I do understand the power and peace of anonymity).
        If you'd prefer instead, you may also email me directly at
        #[+a("mailto:me@isiahmeadows.com") me@isiahmeadows.com].

    .form#contact
        noscript: p.
            You need JavaScript enabled for this form to appear. It's dead
            otherwise. Don't worry ‒ it's not going to record your IP address or
            do any other crazy snooping when it runs. You can even
            #[+a("https://github.com/isiahmeadows/website/blob/master/src/contact.js").new verify this yourself]
            if you feel paranoid enough (and understand JavaScript). I'm not the
            one to hide evil things like secret trackers in plain sight.
            #[img(src="wink.png" alt="winking face").wink]

    //- Cue browsers to preload this, but don't display it.
    img(src="wink.png").hidden
    script(src="contact.js")
