include ./page.mixin.jade

link(rel="stylesheet" href="contact-finish.css")

//- for the contact email mixin.
script(src=(
    "https://cdnjs.cloudflare.com/ajax/libs/mithril/0.2.3/mithril" +
        (minified ? ".min" : "") + ".js"
))

+page("Contact", "contact.html", "Contact - Thank you")
    p.
        Thank you for your message. I should receive this shortly. If my quota
        is reached, where I'm using #[+a("https://formspree.io", true) Formspree]
        currently to handle emails, I may not get them. I try to reply to as
        many emails I get from here as possible, so if you don't get an email,
        do feel free to send me an email directly.

    .wrapper: include ./contact-email.mixin.jade
