@charset "UTF-8";

#email--base div {
    display: block;
}

#email--base input, #email--base button {
    display: inline-block;
    margin: 0.25em;
    margin-top: 0;
    border: 2px inset #aaa;
    padding: 0.5em;
    border-radius: 1.5em;
}

#email--base button {
    padding: 0.5em auto;
    text-align: center;
    max-width: 5em;
    height: auto;
    border-radius: 1.5em;
    border-style: inset;
    background-color: #ccc;
    background-image: linear-gradient(-45deg, #aaa, #ddd 40%, #eee);
}

#email--base div div {
    color: red;
}
