@charset "UTF-8";

@import "./contact-email.mixin.styl"
@require "./common.mixin.styl"

#body
    > p
        margin-top 0
        margin-bottom 1em

    .wrapper
        text-align center
        padding-bottom 1em

        +nonphone()
            margin-bottom 1em
