@charset "UTF-8"

@require "./common.mixin.styl"

#email--base
    div
        display block

        div
            color red

    input, button
        input-base()
        display inline-block

    button
        padding 0.5em 0.8em
        margin-left 0.5em
        text-align center
        height auto
        background-color #e2e2e2

    p:last-child
        margin-bottom 0
