include ./mixins/page.pug

+page("Home")
    div.pic: img(src="/images/pic.jpg" alt="picture of Isiah Meadows")

    p Hi, I'm Isiah Meadows.

    p.
        I'm a web consultant ready to help you soar. I specialize in full stack
        web design and development, and I can do anything from help designing a
        small personal site you're working on in Wix to creating a new site for
        your hot startup to even writing a custom-built web app from scratch,
        complete with backend hosting. So if you need that magic sauce, I'm just
        the one you need.

    p Here's some of what I can do:

    ul
        li Assist with site builders like Wix, Weebly, and Squarespace
        li Create new sites and web apps from scratch
        li Maintain and support your existing sites or web apps
        li Work on existing Node.js, Ruby, and Wordpress/Drupal projects
        li Integrate your site with third-party services

    .contact: a(href="/contact/?w") Sounds perfect to me!

    h3.featured Featured Site: Grand Cayman Island Vacation Rental

    a.screenshot(href="https://www.grandcaymanislandvacationrental.com")
        img(src="/images/grandcaymanisland.jpg" alt="screenshot of website")

    p.
        This site is designed to promote a client's vacation rental condo,
        located in the Cayman Islands. It links to each site listing her rental,
        and it even includes a calendar widget from one of the services she uses
        to advertise her rental.

    p.
        It's a relatively simple site, with high focus on the content and the
        views. It features numerous photos of her condo, with a peaceful,
        relaxing design meant to evoke that feeling of going on vacation. When
        you look at that site, it makes you want to go there, with the calming
        backdrop of a rolling ocean combined with the simple, yet elegant feel
        of the image layout and framing.

    p.
        Would you like your site to be featured here next?

    .contact: a(href="/contact/") Let's get started!
