include ./page.mixin.pug

link(rel="stylesheet" href="index.css")

+page("Home")
    div: img.pic(src="pic.jpg" alt="picture of Isiah Meadows")

    p.
        I'm a full-stack JavaScript developer proficient in creating beautiful,
        unique, and modern websites such as this one. I enjoy using latest
        front end technologies such as HTML5, CSS3, and ECMAScript 2015, as well
        as #[+a("https://nodejs.org").new Node.js], a server-side JavaScript
        runtime. I am fluent in many of the tools used to create these sites,
        and I can do so with maximum reliability, flexibility, and efficiency.
        Where necessary, I can even create these tools myself. If you're
        interested, #[+a("contact.html?w") please contact me here], and please
        make sure to leave me with your email, so I can contact you back to
        start talking.

    p.
        I've loved programming for a very long time, and thus I've created
        several pet projects on my own. I also enjoy helping people out a lot by
        creating #[+a("projects.html") useful JavaScript tools] for them, to
        help them get things done. I'm also a strong believer in open source.

    p.
        I maintain a #[+a("blog.html") low-traffic blog] that features a nice
        (if you agree with me) mixture of technical things, ideas, and random
        ramblings about whatever. Feel free to check it out.

    p.
        Once upon a time (read: middle and high school), I loved to create
        music. This mostly predates my coding days, and as much as I wish I
        could continue creating, I sadly no longer have nearly the time to
        create and publish as I used to. In case you're curious, you can still
        find my old songs #[+a("music.html") here].
