include ./page.mixin.jade

link(rel="stylesheet" href="index.css")

+page("Home")
    - var langs = "https://github.com/jashkenas/coffeescript/wiki/list-of-languages-that-compile-to-js"
    div: img(src="pic.jpg" alt="picture of Isiah Meadows")

    p.
        I'm a web developer able to work full stack, who primarily uses (and
        loves) #[a(href="https://nodejs.org") Node.js]. I also enjoy
        occasionally toying with other programming languages, such as Haskell,
        C++, Scala, Clojure (if #[a(href="http://leiningen.org/") Leiningen]
        wasn't so slow), and #[a(href=langs) many languages that compile to JS]
        (my favorite is #[a(href="http://livescript.net/") LiveScript]). I also
        maintain a #[a(href="blog.html") blog], full of various ramblings on
        coding, religion, politics, and whatever else crosses my mind that's
        worth rambling in a blog post for.

    p.
        I also enjoy doing a lot of other things, including playing piano,
        listening to music, and #[a(href="music.html") creating it myself].
        My own creations tend to blend quite a few genres, but even the music I
        most enjoy to is a bit broad. Some of my favorite artists, in case
        you're interested:

    ul
        li: a(href="https://www.facebook.com/iconforhireofficial") Icon for Hire
        li #[a(href="http://skrillex.com/") Skrillex] (well...until his latest album)
        li: a(href="http://www.skillet.com/") Skillet
        li: a(href="http://nightwish.com/en") Nightwish
        li: a(href="http://www.delain.nl/") Delain
        li: a(href="http://www.within-temptation.com/") Within Temptation
        li: a(href="http://www.excision.ca/") Excision
        li: a(href="http://www.lindseystirling.com/") Lindsey Stirling
