@charset "UTF-8";

@import "./page.mixin.css";

#body > div {
    width: 60%;
    margin: 0.5em auto;
    text-align: center;
}

#body img {
    min-width: 150px;
    width: auto;
    max-height: 450px;
    border: 4px ridge #ddd;
    border-radius: 1em;
}
