@charset "UTF-8"

@require "./common.mixin.styl"

#body
    div
        width 60%
        margin 0.5em auto
        text-align center

    img
        width-scale auto 150px 450px
        border-round 2px solid border-color 1em
