include ./page.mixin.jade

link(rel="stylesheet" href="index.css")

+page("Home")
    - var langs = "https://github.com/jashkenas/coffeescript/wiki/list-of-languages-that-compile-to-js"
    div: img(src="pic.jpg" alt="picture of Isiah Meadows")

    p.
        I'm a full stack web developer who specializes in (and loves)
        #[a(href="https://nodejs.org") Node.js]. I also enjoy occasionally
        experimenting with other programming languages, such as Haskell, C++,
        Scala, Clojure (if #[a(href="http://leiningen.org/") Leiningen] wasn't
        so slow), and
        #[a(href=langs) many of the languages that compile to JavaScript] (my
        favorite is #[a(href="http://livescript.net/") LiveScript]). I also
        maintain a #[a(href="blog.html") blog], full of various ramblings on
        coding, religion, politics, and whatever else crosses my mind that's
        vaguely worth rambling in a blog post for.

    p.
        My passions aren't limited to merely programming. I also enjoy playing
        piano (sorry, no recordings), listening to music, and even
        #[a(href="music.html") creating it myself]. My own music spans quite a
        few genres, but even the music I listen to is a bit broad. Oh, and I
        like reading anything intellectually interesting like
        #[a(href="http://www.iflscience.com/") IFLScience] or
        #[a(href="http://www.buzzfeed.com/") BuzzFeed]
        (and
        #[a(href="http://www.theatlantic.com/politics/") occasionally],
        #[a(href="http://www.huffingtonpost.com/politics/") less]
        #[a(href="https://www.washingtonpost.com/politics/") intellectually]
        #[a(href="https://www.salon.com/category/politics/") satisfying]
        #[a(href="http://www.nbcnews.com/politics") ones], too).
