include ./page.mixin.jade

link(rel="stylesheet" href="index.css")

+page("Home")
    div: img.pic(src="pic.jpg" alt="picture of Isiah Meadows")

    p.
        I'm a full-stack JavaScript web developer who is proficient in creating
        beautiful, unique websites such as this one with the latest modern
        technologies such as HTML5, CSS3, and JavaScript on the front end and
        #[+a("https://nodejs.org").new Node.js], a server-side JavaScript
        runtime on the back end. I also am fluent in the tools used to create
        these sites with maximum reliability, flexibility, and efficiency, and
        can create these tools myself where necessary. If you're interested,
        #[+a("contact.html?w") please contact me here], and please make sure to
        leave me with your email, so I can contact you back to start talking.

    p.
        I also enjoy developing many useful #[+a("projects.html") JavaScript tools]
        as side projects, to help me and others make great things in JavaScript,
        whatever they might be.

    p.
        I maintain a #[+a("blog.html") low-traffic blog] that features a nice
        (if you agree with me) mixture of technical things, ideas, and random
        ramblings, which may or may not be professional in their nature.

    p.
        Once upon a time (read: middle and high school), I loved to create
        music. This mostly predates my coding days, and as much as I wish I
        could continue creating, I sadly don't have nearly the time available I
        used to. It no longer reflects my current musical style, but in case
        you're curious, you can still find my old songs #[+a("music.html") here].
