include ./mixins/page.pug

+page("Home")
    div.pic: img(src="/images/pic.jpg" alt="picture of Isiah Meadows")

    p Hi, I'm Isiah Meadows.

    p.
        I'm a web consultant ready to help you soar. I specialize in full stack
        web design and development, and I can do anything from help designing a
        small personal site you're working on in Wix to creating a new site for
        your hot startup to even writing a custom-built web app from scratch,
        complete with backend hosting. So if you need that magic sauce, I'm just
        the one you need.

    p Here's some of what I can do:

    ul
        li Assist with site builders like Wix, Weebly, and Squarespace
        li Create new sites and web apps from scratch
        li Maintain and support your existing sites or web apps
        li Work on existing Node.js, Ruby, and Wordpress/Drupal projects
        li Integrate your site with third-party services

    .contact: a(href="/contact/?w") Sounds perfect to me!

    h3.featured Featured Site: Grand Cayman Island Vacation Rental

    a.screenshot(href="https://www.grandcaymanislandvacationrental.com")
        img(src="/images/grandcaymanisland.jpg" alt="screenshot of website")

    p.
        This site was created to help promote a client's vacation rental condo
        located in the Cayman Islands. It links to each site listing her rental,
        and it is integrated into one of the services, which provides a simple
        calendar widget.

    p.
        It's a fairly simple website with only a few pages, including a gallery
        for photos of the condo. It was designed to evoke an inviting, relaxing,
        and aesthetically beautiful feel, the very thing you would probably want
        to feel while on vacation, to help complement the property and location
        in general, and to entice visitors to choose #[em it] over other similar
        properties, to make it seem less cookie cutter.

    p.
        Would you like your site to be featured here next?

    .contact: a(href="/contact/") Let's get started!
