@charset "UTF-8";

@import "./page.mixin.css";
@import "./cc-licenses.mixin.css";

#body h3 {
    color: #44e;
    font-weight: 500;
    font-size: 1.25em;
    margin-top: 0.75em;
    /*margin-bottom: 0.75em;*/
}

#body label {
    display: block;
    font-weight: 700;
}

#body .cc-license {
    display: table;
    margin: 0;
}

#body .cc-license > * {
    display: table-cell;
    vertical-align: middle;
}

#body .cc-license img {
    padding-right: 0.5em;
}

#body .cc-license small {
    font-size: 80%;
}

#body .license {
    margin-bottom: 0.5em;
}
