include ./page.mixin.pug
include ./cc-by-4.mixin.pug

link(rel="stylesheet" href="music.css")

mixin song(href)
    li: +a(href)
        block

+page("Music", "about.html")
    .intro
        p.
            Although I don't have as much time to create music as I used to, I
            have always enjoyed both playing music and creating it. My
            compositions range from very classically inspired pieces I created
            as far back as late middle school to darker modern classical piano
            solos and a single electronic song created very early college. I
            still enjoy improvising on my piano on frequent occasion, even
            though I sadly don't have as much time to compose. Most of what my
            more recent creations now are a mixture of piano solos and
            electronic music, but most of my earlier pieces are closer to modern
            classical with some film influences. Admittedly, these pieces are
            probably not too spectacular, but there here, just in case you're
            curious. #[img(src="wink.png" alt="winking face")]

        p.
            I explained my inspiration and/or relevant background on many of the
            pieces I created, for your reading pleasure, and to give an idea why
            it may seem a certain way or have a certain mood.

        p.
            Please note that some programs erroneously associate artwork with my
            pieces. That is purely the work of those programs, not me, so you
            can feel free to ignore it.

    .license: +cc-by-4

    ul
        +song("music/funeral-of-stress.html") Funeral of Stress

        //- Little nit
        li
            +a("https://docs.google.com/uc?id=0B02h60r9WvJrM0xiYnIzX0NHOFU&export=download")
                | Under Pressure
            | #{""} (electronic, download-only)

        li.divider

        +song("music/a-day-at-the-theme-park.html") A Day at the Theme Park
        +song("music/a-normal-day.html") A Normal Day
        +song("music/a-tribute-to-hymns.html") A Tribute to Hymns
        +song("music/aurora.html") Aurora
        +song("music/hunger-games-symphony.html") Hunger Games Symphony
        +song("music/journey.html") Journey
        +song("music/rebellion.html") Rebellion
        +song("music/servants-lament.html") Servant's Lament
        +song("music/sweet-dreams.html") Sweet Dreams
        +song("music/the-lost.html") The Lost
        +song("music/the-time-is-coming.html") The Time is Coming
        +song("music/untitled-piece-for-vibes.html") Untitled Piece for Vibes
        +song("music/wants-of-life.html") Wants of Life
        +song("music/water.html") Water
        +song("music/wizard-battle.html") Wizard Battle
