@charset "UTF-8"

@require "./common.mixin.styl"
@import "./cc-by-4.mixin.styl"

#body
    label
        display block
        font-weight 700

    li.divider
        visibility hidden

    .cc-license img
        padding-right 0.5em
        margin-bottom 0.25em

    .cc-license small
        font-size 80%

    .license
        margin-bottom 0.5em

    .intro
        border-bottom 2px solid border-color
        margin-bottom 1em
