@charset "UTF-8"

@require "./common.mixin.styl"
@import "./cc-licenses.mixin.styl"

#body
    h3
        color header-color
        font-weight 500
        font-size 1.25em
        margin-top 0.75em

    label
        display block
        font-weight 700

    .cc-license img
        padding-right 0.5em
        margin-bottom 0.25em

    .cc-license small
        font-size 80%

    .license
        margin-bottom 0.5em

+nonphone()
    #body h3
        border-top 2px solid border-color
        padding-top 0.5em
