@charset "UTF-8"

@require "./common.mixin.styl"

/* TODO: implement mobile support. */

/* Common utilities */

.hidden
    /*
     * !important required so that these are actually hidden regardless of other
     * settings (so my JS actually works).
     */
    display none !important
    visibility hidden !important

textarea
    font-family inherit
    font-size inherit

/* Global base styles */

html, body
    +desktop()
        height 100%

body
    font-family "Arial", sans-serif
    background-color page-border-color
    color black

a
    text-decoration none
    color link-color

    &:hover
        text-decoration underline

    &:visited
        color link-visited

ul
    list-style-type square

h2
    color header-color

    +desktop()
        font-weight 500
        font-size 1.5em

#content
    +desktop()
        display table
        box-sizing border-box
        background-color white
        max-width 1200px
        width 90%
        height 100%
        margin 0 auto
        padding 1em 1.5em 0 1.5em
        side border 1px solid #888

#header
    +desktop()
        position relative
        display table-row

    .separator
        +desktop()
            margin-top -0.25em

            &::after
                content "|"
                font-size 1.25em
                color border-color

    a
        color header-color

        +desktop()
            font-weight 500

    nav
        +desktop()
            rule bottom 0.5em
            padding-bottom 1.8em
            font-size 1.5em

        > a
            +desktop()
                vertical-align middle
                float left
                display block

                &:hover
                    text-decoration none

        > div
            +desktop()
                float right

            div, a
                +desktop()
                    display inline-block
                    vertical-align middle

            a
                +desktop()
                    /* This needs to *not* be overridden */
                    text-decoration none
                    side margin 0.5em
                    padding-bottom 0.1em
                    border-bottom 2px solid transparent

                    &.selected
                    &:hover
                        border-bottom-color header-color

#body-wrapper
    +desktop()
        height 100%
        display table-row
        position relative

        > div
            height 100%

#license
    +desktop()
        position relative
        display table-row

    div
        +desktop()
            rule top 0.75em

    footer
        +desktop()
            margin 1em auto
            text-align center
            width-scale 50% 200px 600px
