@charset "UTF-8"

@import "./common.mixin.styl"

#body
    +nonphone()
        > :first-child
            margin 0.5em
            margin-top 0

    ul
        margin-left -0.5em

    li
        font-size 1.25em

    li > div
        font-size 0.8em
        vert margin 0.5em

    li p:first-child
        margin-top 0

    li p:last-child
        margin-bottom 0

    li > a
        display inline-block
        margin-top 0.5em

        // These need to *not* be overridden by the :hover and :visited
        // selectors
        color header-color !important
        text-decoration none !important

        // Make the div trim to size.
        &::after
            display block

+phone()
    #body li > a
        break-word()
