@charset "UTF-8"

@import "./common.mixin.styl"

#body li
    font-size 1.5em

    > div
        margin 0 1.5em 1em 0.75em
        font-size 0.67em

    > a
        display inline-block
        margin 0.5em

        // These need to *not* be overridden by the :hover and :visited
        // selectors
        color header-color !important
        text-decoration none !important

        // Make the div trim to size.
        &::after
            display block
