@charset "UTF-8"

@import "./common.mixin.styl"

#body
    +nonphone()
        > :first-child
            margin-top: 0

    .screenshot img
        box-sizing: border-box
        border: 8px solid lighten($color-border, 30%)
        border-radius: 15px
        box-shadow: 0 0 1px 2px $color-border,
            inset 0 0 1px 2px $color-border

    .display
        width: 100%

    @media screen and (max-width: 650px)
        .screenshot a
            display: block
            margin-bottom: 1em

        .screenshot img
            width: 100%

        .item h3
            padding-bottom: 0.5em
            border-bottom: 2px solid $color-border

        .hole
            @extend $--hidden

    @media screen and (min-width: 650px)
        .screenshot img
            margin-bottom: 0

        .display
            display: table
            padding-left: 0.5em
            border-spacing: 1em

        .display > *
            display: table-row

        .item, .hole
            display: table-cell
            visibility: visible // Override for overlap
            box-sizing: border-box
            text-align: center

        .item h3
            margin: 0
            padding-bottom: 0
            border-bottom: none

        .screenshot img, .hole *
            --width-scale: 80% 200px 400px

        .display > :nth-child(even) > *
            vertical-align: bottom

        .screenshot a
            display: block
            margin-bottom: 0
            padding-top: 1em
            padding-bottom: 1em

    +desktop()
        .display
            padding-left: 1em
            padding-right: 1em
            margin-top: 1em

        .display ~ p
            margin-top: 2em

        .screenshot a
            display: block
            padding-top: 1.5em
            padding-bottom: 1.5em

    @media screen and (min-width: 1200px)
        .display
            margin-top: 2em

    // IE has zero support for `@supports`, so I have to guard the common case.
    @supports (perspective: 600px)
        @media screen and (min-width: 650px)
            .display
                perspective: 600px
                perspective-origin: center 40%
                border-spacing: 0 1em

            .item:first-child
                transform: rotateY(25deg)

            .item:last-child
                transform: rotateY(-25deg) translateX(-1em)

        +desktop()
            .item:first-child
                transform: rotateY(25deg) translateX(1em)

            .item:last-child
                transform: rotateY(-25deg) translateX(-2em)
